<h1 style="text-align:center">New comment</h1>



<div style="width: 300px; margin:100px auto;">
<%= form_with model: @comment do |f|%>



<br>
<%= f.label :user_id, "Author"%>
<%= f.collection_select :user_id, @users, :id, :name%>

<br>

<%= f.label :article_id, "Article"%>
<%= f.collection_select :article_id, @articles, :id, :title%>

<br>

<%= f.label :body%>
<%= f.text_field :body%>

<br>

<%= f.submit "Send comment"%>

<%end%>

</div>

<div style="text-align: center; margin-top: 30px;">
    <%= link_to "New user", new_user_path %> - 
    <%= link_to "New article", new_article_path %>
  </div>

  <div style="text-align: center; margin-top:30px">
    <%= link_to "See Everything", dashboard_path %>
</div>