<div id="<%= dom_id movie %>">
  <div>
    <strong>Title:</strong>
    <%= movie.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= movie.description %>
  </div>

  <div>
    <strong>Director:</strong>
    <%= movie.director %>
  </div>

  <div>
    <strong>Duration:</strong>
    <%= movie.duration %>
  </div>

</div>
