<h1 style="text-align:center">New article</h1>



<div style="width: 300px; margin:100px auto;">
<%= form_with model: @article do |f|%>



<br>
<%= f.label :user_id, "Author"%>
<%= f.collection_select :user_id, @users, :id, :name%>
<br>


<%= f.label :title%>
<%= f.text_field :title%>

<br>
<%= f.label :body%>
<%= f.text_field :body%>

<br>
<%= f.label :category%>
<%= f.text_field :category%>

<%= f.submit "Send article"%>

<%end%>

</div>

<div style="text-align: center; margin-top: 30px;">
    <%= link_to "New user", new_user_path %> - 
    <%= link_to "New comment", new_comment_path %>
  </div>

  <div style="text-align: center; margin-top:30px">
    <%= link_to "See Everything", dashboard_path %>
</div>